
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  color: #cdd0d4;
}



.layout{
  background: url(../../assets/img/PaisajeTormentaMarina.jpg) no-repeat center center fixed;

  height: 100vh;

  background-size: cover;
}


